body {
    background-image: url("/Frontend/css/imagenes/fondo\ pagina\ wen.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

form {
    max-width: 400px;
    width: 100%;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.05),
    );
      position: absolute;
    top: 35%;
    left: 35%;
}